Repository matbour/setup-gcloud: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: '*.{json,css,scss,md,yaml,yml}'
      run: pnpm prettier --write {staged_files}
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
    build:
      run: pnpm build && git add dist/
commit-msg:
  commands:
    lint:
      run: pnpm standard-commithook
skip_output:
  - meta
  - success

ci(format): add `.prettierrc`
  .prettierignore
Due: none

build(bundle): replace `@zeit/ncc` by `esbuild`
  .eslintrc.js
  CHANGELOG.md
  dist/index.js
  dist/index.js.map
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

feat(core): rewrite the action into tasks
  .env.test
  action.yml
  dist/index.js
  dist/index.js.map
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/authenticate.ts
  src/constants.ts
  src/download.ts
  src/install.ts
  src/lib/constants.ts
  src/lib/gcloud.ts
  src/lib/on-error.spec.ts
  src/lib/on-error.ts
  src/lib/set-project.ts
  src/main.ts
  src/setup.ts
  src/tasks/auth.ts
  src/tasks/configure-docker.ts
  src/tasks/download.ts
  src/tasks/install.ts
  src/utils.ts
Due: prettier, eslint

fix(install): copy as fallback to the move operation
  dist/index.js
  dist/index.js.map
  src/tasks/download.ts
Due: eslint

fix(install): en environment variables to configure installer
  .github/workflows/tests.yaml
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: prettier, eslint

fix(which): use teh `which` function of `@actions/io`
  .env.local
  .github/workflows/tests.yaml
  dist/index.js
  dist/index.js.map
  package.json
  src/tasks/download.ts
Due: prettier, eslint

fix(python): locate the python executable
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: eslint

ci(actions): add other versions
  .github/workflows/tests.yaml
Due: prettier

fix(install): debug installer with python
  dist/index.js
  dist/index.js.map
  src/lib/constants.ts
  src/lib/mapping.ts
  src/tasks/download.ts
Due: eslint

feat(download): display the download URL
  dist/index.js
  dist/index.js.map
  src/tasks/download.ts
Due: eslint

ci(actions): use the correct version numbers
  .github/workflows/tests.yaml
Due: prettier

fix(install): attempt to use python 3
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: eslint

fix(install): debug python NoneType slpit
  .github/workflows/tests.yaml
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: prettier, eslint

ci(actions): add new matrix configurations
  .github/workflows/tests.yaml
Due: prettier

fix(docker): use quiet mode to configure docker
  dist/index.js
  dist/index.js.map
  src/tasks/configure-docker.ts
Due: eslint

fix(install): make installer `--quiet`
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: eslint

ci(actions): drop non-useful matrix configurations
  .github/workflows/tests.yaml
Due: prettier

fix(install): attempt to use `spawn` on windows
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: eslint

feat(install): do not install python on MacOS
  dist/index.js
  dist/index.js.map
  src/tasks/install.ts
Due: eslint

ci(actions): use the local version on windows-2019
  .github/workflows/tests.yaml
Due: prettier

fix(download): skip windows installation
  dist/index.js
  dist/index.js.map
  src/tasks/download.ts
Due: eslint

feat(groups): add logging groups
  dist/index.js
  dist/index.js.map
  src/lib/constants.ts
  src/tasks/auth.ts
  src/tasks/configure-docker.ts
  src/tasks/download.ts
Due: eslint

fix(gcloud): quote gcloud executable if necessary
  dist/index.js
  dist/index.js.map
  src/lib/gcloud.ts
Due: eslint

ci(actions): add `ubuntu-18.04`, `macos-10.15`, `windows-2016`
  .github/workflows/tests.yaml
Due: prettier

ci(actions): drop macos-11 local installation
  .github/workflows/tests.yaml
  dist/index.js.map
  src/lib/constants.ts
Due: prettier, eslint

feat(release): prepare for version 2.0
  .github/workflows/tests.yaml
  README.md
  dist/index.js.map
  package.json
  src/lib/constants.ts
Due: prettier, eslint

ci(tests): add more Jest tests
  .github/workflows/tests.yaml
  .gitignore
  dist/index.js
  dist/index.js.map
  sonar-project.properties
  src/lib/constants.ts
  src/lib/gcloud.spec.ts
  src/lib/gcloud.ts
  src/lib/get-download-link.spec.ts
  src/lib/get-download-link.ts
  src/lib/mapping.ts
  src/lib/on-error.spec.ts
  src/lib/on-error.ts
  src/lib/set-project.spec.ts
  src/lib/set-project.ts
  src/tasks/auth.ts
  src/tasks/configure-docker.ts
  src/tasks/download.ts
  src/testing/setInputs.ts
Due: prettier, eslint

ci(actions): attempt to debug Sonar Scan
  .github/workflows/tests.yaml
Due: prettier

ci(sonar): use the master tag
  .github/workflows/tests.yaml
Due: prettier
